@import 'sass/settings';

.navigation {
  display: flex;
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  transition: all 0.2s ease-in-out;
  z-index: 150;
  &.color-me {
    background-color: $main;
  }
  .logo {
    display: block;
    a {
      display: block;
      height: 41.48px;
      svg {
        width: 75px;
        height: auto;
        path {
          transition: all 0.2s ease-in-out;
        }
      }
    }
    &:hover {
      cursor: pointer;
      svg {
        path {
          fill: $orange;
        }
      }
    }
  }
  #toggle {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 20;
    &::after {
      content: ' ';
      width: 2px;
      height: 20px;
      background-color: black;
      position: absolute;
      transition: all 0.3s ease-in-out;
    }
    &.color-me {
      background-color: $main;
    }
    &.active {
      &::after {
        background-color: black;
        transform-origin: center;
        transform: rotate(90deg);
      }
    }
    &:hover {
      cursor: pointer;
      background-color: black;
      &::after {
        background-color: white;
      }
    }
  }
  &.error-page {
    background-color: $dark-gray;
    color: white;
    svg {
      path {
        fill: white;
      }
    }
    #toggle {
      background-color: $dark-gray;
      border: 2px solid white;
      &::after {
        background-color: white;
      }
    }
  }
  .heart-toggle {
    position: absolute;
    bottom: -30px;
    left: 46%;
    transform: translate(-46%, 0px);
  }
}

nav {
  display: block;
  width: 30vw;
  height: 100vh;
  background-color: $dark-gray;
  position: absolute;
  top: 0;
  right: -1000px;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  .main-menu {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  ul {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      display: block;
      margin: 0;
      padding: 0;
      a {
        display: block;
        margin: 0;
        padding: 10px 0;
        font-size: 0.9em;
        color: white;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: $orange;
          cursor: pointer;
        }
      }
    }
  }
  svg {
    display: block;
    width: 30px;
    height: auto;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, -20px);
    transition: all 0.2s ease-in-out;
    animation-name: heart;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    &:hover {
      cursor: pointer;
    }
  }
  &.visible {
    right: 0;
  }

  @media only screen and (max-width: $tablet) {
    width: 80vw;
    .main-menu {
      display: none;
    }
    .mobile-menu {
      display: block;
    }
  }
}

#transition {
  display: block;
  width: 0;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: width 0.8s ease;
  z-index: 200;

  &.in-progress {
    width: 100%;
  }
}

.section-1 {
  background-color: white;
  &__video {
    width: 100%;
    height: auto;
    margin-left: -30px;
    iframe {
      overflow-x: hidden;
      overflow-y: hidden;
      pointer-events: none;
      body {
        overflow: hidden;
      }
    }
  }
  &__mask-video {
    display: block;
    width: 800px;
    height: 800px;
  }

  &__mask {
    display: block;
    width: auto;
    height: auto;
    mask-image: url('../img/Brand-Love.png');
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
  }
}

.heart-toggle {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 24px;
  right: 40px;

  svg {
    width: 30px;
    height: auto;
    animation-name: heart;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    &:hover {
      cursor: pointer;
    }
  }
}

.section-2 {
  .full-width {
    height: auto;
    flex: initial;
  }
  .half-width {
    height: auto;
    flex: initial;
    p {
      padding: 0 20px;
    }
    .section__arrow {
      svg {
        margin-top: 40px;
      }
    }
  }
}

.section-3 {
  .half-width {
    #work-svg,
    #workers-svg {
      width: 65%;
      height: auto;
      svg {
        width: 100%;
        height: auto;
      }
      &:hover {
        cursor: pointer;
        // svg {
        //   g {
        //     path {
        //       fill: $orange;
        //     }
        //   }
        // }
      }
    }
  }
  .arrow {
    display: block;
    position: relative;
    width: 25px;
    height: auto;
    svg {
      width: 35px;
      polygon {
        transition: all 0.1s ease-in-out;
      }
    }
    &__left {
      transform: rotate(90deg);
      position: relative;
      left: -130px;
      transition: all 0.2s ease-in-out;
      &:hover {
        left: -135px;
      }

      @media only screen and (max-width: $tablet) {
        left: 0;
      }
    }
    &__right {
      transform: rotate(-90deg);
      position: relative;
      top: 10px;
      right: -130px;
      transition: all 0.2s ease-in-out;
      &:hover {
        right: -135px;
      }

      @media only screen and (max-width: $tablet) {
        right: 0;
      }
    }
    &:hover {
      cursor: pointer;
      svg {
        polygon {
          stroke: $orange;
        }
      }
    }
  }
  .section__arrow {
    width: 15px !important;
  }

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.overflow-section-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  flex-wrap: nowrap;
  position: relative;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
  .overflow-section {
    display: flex;
    width: calc(100vw * 3);
    height: 100vh;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // top: 0;
    // left: 0;
    // transform: translate(-50%, 0);
  }
}

.nav-section {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
  &.slide-right {
    left: 10000px;
  }
  &.slide-left {
    left: -10000px;
  }
  div {
    &:first-of-type {
      justify-content: flex-end;
      margin: 0 60px 0 auto;
      @media only screen and (max-width: $tablet) {
        margin: 0 auto;
      }
    }
    &:last-child {
      justify-content: flex-start;
      margin: 0 auto 0 47px;
      @media only screen and (max-width: $tablet) {
        margin: 0 auto;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    flex-direction: column;

    .half-width {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  background-color: $main;
  position: absolute;
  top: 0;
  left: -5000px;
  transition: all 1s ease-in-out;
  z-index: 30;
  &.in-view {
    left: 0px;
    overflow: hidden;
  }
  &__bottom-wrap {
    display: block;
    width: 100vw;
    height: 50px !important;
    background-color: $main;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 50;
  }

  &__bottom {
    display: block;
    width: 100%;
    height: 100%;
    // padding: 14px 30px;
    position: relative;

    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease-in-out;

      svg {
        width: 15px;
        polygon {
          stroke: #babab3;
        }
      }

      &:hover {
        bottom: -6px;
        cursor: pointer;
        svg {
          polygon {
            stroke: $orange;
          }
        }
      }

      svg {
        margin-top: 0;
      }
    }
  }

  .rules {
    display: flex;
    width: 60px;
    height: 48vh;
    justify-content: space-between;
    position: absolute;
    z-index: 10;

    // &.animate {
    //   animation-name: work-rules;
    //   animation-duration: 0.8s;
    // }

    // &.re-animate {
    //   animation-name: work-rules;
    //   animation-duration: 0.8s;
    //   animation-direction: reverse;
    // }

    &--top {
      top: 16px;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, 0);
      transition: all 0.9s ease-in-out;

      &.animate {
        top: -100vh;
        opacity: 0;
      }
    }
    &--bottom {
      bottom: -25px;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, 0);
      transition: all 0.9s ease-in-out;

      &.animate {
        bottom: -100vh;
        opacity: 0;
      }
    }
    span {
      display: block;
      width: 5px;
      height: inherit;
      background-color: $main;
      margin: 0 3.5px;
    }

    @media only screen and (max-width: 1600px) {
      // &--bottom {
      //   bottom: -32px;
      // }
    }

    @media only screen and (max-width: 1440px) {
      height: 47vh;

      &--top {
        top: 22px;
      }

      &--bottom {
        bottom: -30px;
      }
    }
  }
  #work-arrow-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: auto;
    height: auto;
    top: 35%;
    left: 18px;
    z-index: 20;
    transform: rotate(90deg) translate(-35%, 0);

    svg {
      width: 15px;
      polygon {
        stroke: #babab3;
      }
    }
  }
  // .section {
  //   transition: all 0s ease;
  // }
  &__section {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: #fdfcf4;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
    transition: all 1.2s ease-in-out;
    &.scrolled {
      top: -300%;
    }
    &.zoom {
      background-size: 101vw;

      @media only screen and (max-width: $tablet) {
        background-size: cover;
      }
    }
    .bg-image {
      display: block;
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      div {
        padding: 68.25% 0 0 0 !important;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    > .row {
      justify-content: flex-end;
    }

    @media only screen and (max-width: $tablet) {
      background-size: cover;
    }
  }
  &__work-overview {
    display: flex;
    width: 40%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    background-color: $main;
  }
  &__work-toggle {
    display: flex;
    width: 250px;
    height: 50px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    border: 4px solid $main;
    // box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    font-size: 1em;
    font-weight: 500;
    color: $main;
    background-color: transparent;
    backdrop-filter: brightness(0.65);
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;

    &.animate {
      width: 0;
      font-size: 0em;
      border: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: $main;
      color: $dark-gray;
    }
    img {
      width: 100%;
      padding: 0 16px;
    }
  }
  &__popup {
    &__wrap {
      display: none;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
      z-index: 110;
      &.active {
        display: block;
      }

      &--portfolio {
        background-color: $main;
      }
    }

    &__content-wrap {
      display: flex;
      width: 92%;
      height: 92vh;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $main;
      overflow: auto;

      .close-work,
      .close-portfolio {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid $dark-gray;
        background-color: white;
        position: sticky;
        top: 69px;
        left: 30px;
        transition: all 0.2s ease-in-out;

        span {
          display: block;
          width: 2px;
          height: 16px;
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: $dark-gray;
          transform-origin: center;

          &:first-of-type {
            transform: translate(-50%, -50%) rotate(45deg);
          }

          &:last-of-type {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        &:hover {
          cursor: pointer;
          background-color: $dark-gray;

          span {
            background-color: $main;
          }
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 75%;
      height: fit-content;
      block-size: fit-content;
      margin: 0 auto;
      padding: 50px 0;

      > * {
        margin: 30px 0px;
        opacity: 0;
        transform: translate(0px, 30px);
        transition: all 0.9s ease-in-out;

        &.visible {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }

      > h2 {
        margin-bottom: 40px;
      }

      > p {
        display: block;
        width: 50%;
        margin: 0 auto 40px auto;
      }

      .size-full,
      .size-large {
        img {
          width: 100%;
          height: auto;
        }
      }

      figure {
        // margin: 30px 20px 15px 20px;
        &:first-child {
          padding-right: 8px;
        }
      }

      .wp-block-embed__wrapper {
        iframe {
          width: 100%;
          height: calc(56.25vh);

          #player {
            max-width: 100%;
            width: 100%;
            height: calc(56.25vh);
          }
        }
      }

      &--work-footer {
        display: flex;
        justify-content: space-between;
        margin: 90px 20px 0px;
        h4 {
          font-family: 'Poppins', serif;
        }
        div {
          &:first-of-type {
            text-align: left;
          }
          &:last-of-type {
            text-align: right;
          }
          p {
            width: auto;
            margin: 0;
          }
        }
      }

      @media only screen and (max-width: $mobile-lg) {
        width: 100%;

        p {
          width: 100%;
        }
      }
    }
  }
}

#work-1 {
  .section {
    &__arrow {
      width: 34px;
    }
  }
}

.workers {
  display: block;
  position: absolute;
  top: 0;
  left: 5000px;
  z-index: 30;
  transition: all 1s ease-in-out;
  &.in-view {
    left: 0px;
  }
  &__section {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex: 1 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 94px auto 0px auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__worker {
    display: flex;
    margin: 0 20px;
    flex: 0 1 16%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // padding: 0 8px;
    // overflow: hidden;
    position: relative;
    &:nth-child(2n + 1) {
      margin-top: 50px;
    }
    > img {
      width: 80%;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    }
    p {
      margin: 0;
      //font-size: 0.75em;
    }
  }

  &__img-frame {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    > img {
      width: auto;
      transform: translateX(0) !important;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    }

    .nav-links {
      display: block;
      width: 10px;
      position: absolute;
      bottom: -1px;

      &:hover {
        cursor: pointer;
      }

      &--prev {
        left: 25px;
        svg {
          transform: rotate(90deg);
        }
      }

      &--next {
        right: 25px;
        svg {
          transform: rotate(-90deg);
        }
      }

      svg {
        polygon {
          stroke: white;
        }
      }
    }
  }

  &__img-wrap {
    display: flex;
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      flex: 1 0 100%;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;

      &.active-img {
        opacity: 1;
      }
    }
  }
  &__text {
    margin: 30px 0 0 16px;
  }
  &__name {
    font-weight: 500;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;

    a {
      color: $dark-gray;
      &:hover {
        cursor: pointer;
        color: $orange;
      }
    }
  }
  &___title {
    font-weight: 300;
  }
  #workers-arrow-back {
    position: absolute;
    bottom: 12px;
    left: 12px;
    transform: rotate(90deg);
    z-index: 20;

    svg {
      width: 15px;

      polygon {
        stroke: #babab3;
      }
    }

    &:hover {
      cursor: pointer;

      svg {
        polygon {
          stroke: $orange;
        }
      }
    }
  }
}

.section-4 {
  .full-width {
    height: auto;
    flex: initial;
  }
  .three-quarters-width {
    height: auto;
    flex: initial;
  }
  .half-width {
    height: auto;
    flex: initial;

    &__content {
      > p {
        margin-bottom: 30px;
      }
    }
  }
}

.section-5 {
  .full-width {
    height: auto;
    flex: initial;
  }
  .half-width {
    height: auto;
    flex: initial;
    margin: 0 0 5em;

    @media only screen and (max-width: $laptop) {
      margin: 0 0 1em;
    }
  }

  &__clients {
    display: flex;
    position: relative;
    width: 70%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    animation-duration: 1.4s;
    .image-wrap {
      display: flex;
      padding: 40px;
      flex: 0 1 calc(100% / 6);
      justify-content: center;
      align-items: center;
      opacity: 0.4;

      @media only screen and (max-width: $laptop) {
        padding: 20px;
      }
      img {
        width: 100%;
        height: auto;
        padding: 0 7px;
      }
    }

    @media only screen and (max-width: $tablet) {
      width: 100%;

      .image-wrap {
        padding: 5px;
        flex: 0 1 calc(100% / 3);
      }
    }
  }
}

.section-6 {
  .two-col {
    div {
      &:last-child {
        flex: 0 0 auto;
      }
    }
  }
  .full-width {
    height: auto;
    flex: initial;
  }
  .half-width {
    height: auto;
    flex: initial;
  }
  form {
    margin: 40px 0 0 0;
    @media only screen and (max-width: $tablet) {
      margin: 20px 0 0 0;
    }
  }
  .contact {
    display: block;
    margin-top: 40px;
    font-size: 13px;
    p {
      display: block;
      font-weight: 500;
      // font-size: 0.85em;

      @media only screen and (max-width: $mobile-lg) {
        inline-size: 400px;
        overflow-wrap: anywhere;
        text-align: center;
      }
      a {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: all 0.4s ease-in-out;
        &:hover {
          border-bottom: 1px solid $orange;
        }
      }
    }
  }
}

.footer {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0 0 0;
  position: relative;
  background-color: white;
  position: relative;
  .bg-rules {
    display: block;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .full-width {
    height: auto;
    position: relative;
    div {
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.65em;
      color: $medium-gray;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0;
      padding: 0 12px;
      border-right: 1px solid $medium-gray;
      line-height: 0.75;
      &:last-child {
        border-right: none;
      }
      a {
        // font-size: 1em;
        color: $medium-gray;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $orange;
        }
      }
    }
  }
  svg {
    position: absolute;
    left: -14px;
    top: 35px;
    transform: rotate(180deg);
    opacity: 0.35;
  }

  @media only screen and (max-width: $tablet) {
    width: 100%;
    height: auto;
    padding: 20px 0;
    flex-direction: column;
    overflow: hidden;

    .full-width {
      flex-direction: column;

      div {
        padding: 10px 0;
      }
    }
  }
}

.full-screen {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  transform-origin: center;
  top: 0;
  left: 0;
  z-index: 500;
  transition: all 1s ease-in-out;

  &.active {
    display: flex;
    animation-name: full-screen-video;
    animation-duration: 0.8s;
  }

  &__close {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.2s ease-in-out;
    z-index: 5;

    span {
      display: block;
      width: 2px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: black;
      transform-origin: center;
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &:hover {
      cursor: pointer;
      border: 1px solid black;
      background-color: black;
      span {
        background-color: white;
      }
    }
  }

  &__video {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
}

.post {
  display: inline-block;
  width: calc(33% - 40px);
  height: 266px;
  flex: 0 1 33%;
  margin: 20px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .bg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 128%;
    height: 100%;
    background-color: black;
    transform: translate(-50%, -50%);
    z-index: 0;

    > div {
      flex: 0 1 100%;
    }
  }

  .post-hover {
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.75s ease-in-out;

    h3 {
      color: $main;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      font-size: 1em;
      &:hover {
        color: $orange;
      }
    }
  }

  &:hover {
    cursor: pointer;
    .post-hover {
      transition-delay: 500ms;
      top: 0;
      h3 {
        transition-delay: 500ms;
        opacity: 1;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    width: 50%;
    margin: 20px 0;
  }

  @media only screen and (max-width: $mobile-lg) {
    width: 100%;
    margin: 10px auto;
  }
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes full-screen-video {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes work-rules {
  from {
    width: 60px;
  }
  to {
    width: 0px;
  }
}
