.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.wp-caption {

}

.wp-caption-text {

}

.sticky {

}

.screen-reader-text {

}

.gallery-caption {

}

.bypostauthor {

}

.alignright {

}

.alignleft {

}

.aligncenter {

}
