@font-face {
  font-family: 'made_dillanregular';
  src: url('../css/fonts/made_dillan-webfont.woff2') format('woff2'),
    url('../css/fonts/made_dillan-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
