form {
  display: block;
  width: 40%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;

  @media only screen and (max-width: $mobile-lg) {
    width: 100%;
  }
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 1.25em 0 0.25em 0;
  font-family: $base-font-family;
  font-size: 0.75em;
  font-weight: 100;
  background-color: $main;
}

textarea {
  height: 90px;
  background-color: $main;
  border-style: none;
  border-bottom: $base-border;
  &::placeholder {
    padding: 20px 0;
  }
}

input,
select[multiple],
textarea {
  border-style: none;
  border-bottom: $base-border;
  // border-radius: $base-border-radius;
  // box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    // box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

[type='search'] {
  appearance: none;
}

[type='checkbox'],
[type='radio'] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type='file'] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  max-width: 100%;
  width: auto;
}

.form-submit {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  position: relative;
  // &:after {
  //   content: url('../img/arrow.svg');
  //   position: absolute;
  // }
}
