html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: block;
  width: 100vw;
  height: auto;
  // overflow: hidden;
  position: relative;
}

.divider {
  display: block;
  width: 0px;
  height: 250px;
  margin: 0;
  border-right: 1.5px solid rgba(31, 28, 28, 0.5);
  position: relative;
  animation-duration: 1.4s;
  animation-delay: 0.5s;

  @media only screen and (max-width: $tablet) {
    height: 300px;
    transform: rotate(90deg);
  }
}

.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $main;
  padding-top: 0px;
  padding-bottom: 0px;

  &__arrow {
    position: relative;

    &:hover {
      // bottom: -5px;
      svg {
        transform: translateY(5px);
      }
    }

    &.show-me {
      animation-name: show-me;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-delay: 0.2s;
    }

    svg {
      width: 15px;
      transition: all 0.2s ease-in-out;
      transform: translateY(0px);
      polygon {
        transition: all 0.2s ease-in-out;
        stroke: #babab3;
      }
      &:hover {
        cursor: pointer;
        polygon {
          stroke: $orange;
        }
      }
    }
    &--bottom {
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translate(-50%, -10px);
      svg {
        width: 15px;
      }
    }
  }

  &--posts {
    margin-top: 120px !important;
    height: auto;
    .row__column {
      height: auto;
    }
    .half-width {
      height: auto !important;
      flex: initial !important;
    }
  }

  &--error-section {
    background-color: $dark-gray;
    color: white;

    .full-width {
      flex-direction: column;
    }

    .play-toggle {
      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid $dark-gray;
      background-color: $main;
      transition: all 0.3s ease-in-out;

      svg {
        width: auto;
        height: 15px;
        polygon {
          transition: all 0.3s ease-in-out;
          stroke: $dark-gray;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: $dark-gray;
        border: 2px solid $main;

        svg {
          polygon {
            stroke: $main;
          }
        }
      }
    }

    .arrow__left {
      width: 24px;
      margin: 0px 30px 16px;
      transform: rotate(90deg) translateY(0);
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: rotate(90deg) translateY(5px);
        svg {
          polygon {
            stroke: $orange;
          }
        }
      }

      svg {
        polygon {
          stroke: white;
        }
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    height: auto;
    padding: 100px 10px;
  }
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__column {
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    @media only screen and (max-width: $tablet) {
      height: auto;
    }
  }

  .full-width {
    flex: 0 1 100%;
    display: flex;
    width: 100vw;
    // max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    &__column {
      flex-direction: column;
    }

    &--post-list {
      display: block;
      max-width: 1400px;
      width: 100%;
      margin-top: 5em;
      margin-bottom: 5em;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @media only screen and (max-width: $mobile-lg) {
      width: 100%;
      overflow: hidden;
    }
  }
  .three-quarters-width {
    flex: 0 1 100%;
    display: flex;
    width: 55%;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    &__column {
      flex-direction: column;
    }

    @media only screen and (max-width: $laptop) {
      width: 100%;
    }

    @media only screen and (max-width: $tablet) {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  .half-width {
    flex: 0 1 40%;
    display: flex;
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;

    @media only screen and (max-width: $laptop) {
      flex: 0 1 60%;
      width: 60%;
    }

    @media only screen and (max-width: $tablet) {
      flex: 0 1 100%;
      width: 100%;
    }

    &__column {
      width: 30%;
      flex-direction: column;
      flex: 0 1 30%;

      @media only screen and (max-width: $laptop) {
        flex: 0 1 60%;
        width: 60%;
      }

      @media only screen and (max-width: $tablet) {
        flex: 0 1 100%;
        width: 100%;
      }
    }
    &__three-column {
      flex: 0 1 calc(100% / 3);
      display: flex;
      margin: 0 auto;
      padding: 30px 48px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      // border-right: 1px solid #c1bcbc;
      text-align: center;

      div {
        height: 260px;
      }

      &:first-of-type {
        animation-duration: 0.8s;
      }
      &:nth-child(2) {
        animation-duration: 1.4s;
      }
      &:last-child {
        animation-duration: 2s;
      }
      h3 {
        margin: 8px 0 6px 0;
      }
      p {
        line-height: 1.7;
      }
      &:after {
        content: '';
        display: block;
        width: 1.5px;
        height: 78%;
        background-color: rgba(31, 28, 28, 0.5);
        position: absolute;
        top: 49%;
        right: 0;
        transform: translate(0, -50%);
      }
      &:last-child {
        &:after {
          content: none;
        }
      }

      @media only screen and (max-width: $laptop) {
        div {
          height: auto;
          margin-bottom: 20px;
        }
      }

      @media only screen and (max-width: $tablet) {
        flex: 0 1 100%;
        padding: 0 24px;

        &:after {
          content: none;
        }
      }
    }
    &__content {
      padding: 0 100px;

      @media only screen and (max-width: $tablet) {
        padding: 0;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    width: 100%;
  }
}

.two-col {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  div {
    flex: 1 0 auto;
  }
}

.hide-me {
  animation-name: hide-me;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}
.hide-me-again {
  animation-name: hide-me-again;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}

@keyframes hide-me {
  from {
    opacity: 0;
    bottom: -100px;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes hide-me-again {
  from {
    opacity: 0;
    top: -100px;
  }
  50% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes hide-me-columns {
  from {
    opacity: 0;
    top: 50px;
  }
  50% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes hide-me-columns-again {
  from {
    opacity: 0;
    top: -50px;
  }
  50% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes show-me {
  from {
    opacity: 0;
    bottom: -100px;
  }
  to {
    opacity: 1;
    bottom: 6px;
  }
}
