body {
  color: $base-font-color;
  background-color: $main;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  height: 100%;

  &.no-scroll {
    overflow: hidden;
  }
}

$modularscale: (
  base: 1em,
  ratio: 1.5,
);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0.5em;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-size: 2.9em;
  letter-spacing: 0.01em;
  text-align: center;

  @media only screen and (max-width: $laptop) {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.2em;
  margin: 20px 0 0 0;
}

p {
  margin: 0 0 0.75em;
  letter-spacing: 0.03em;
  font-weight: 300;
  font-size: 0.85em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2;

  @media only screen and (max-width: $laptop) {
    // font-size: 0.7em;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

.head {
  font-weight: 700;
}
