// Breakpoints
$desktop: 1920px;
$laptop: 1600px;
$tablet: 786px;
$mobile-lg: 680px;
$mobile-sm: 480px;

// Typography
$base-font-family: 'Poppins', sans-serif;
$heading-font-family: 'made_dillanregular', sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$main: #fdfcf4;
$orange: #e58306;
$dark-gray: #1f1c1c;
$medium-gray: #8c8a84;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $orange;

// Border
$base-border-color: $dark-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow,
  0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
