@font-face {
  font-family: 'made_dillanregular';
  src: url("made_dillan-webfont.woff2") format("woff2"), url("made_dillan-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
